/* TAG SELECTORS */

body {
    background-color: #154c79;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 250px;
    padding: 0;
    margin: 0;
    font-family: verdana, sans-serif;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
}

h1 {
    color: #66BFBF;
    font-size: 40px;
    font-family: 'Sacramento', cursive;
    padding: 0;
    margin: 0;
}

h2, h3 {
    color: #66BFBF;
    padding: 0;
    margin: 0;
    margin-bottom: 2%;
    
}

textarea {
    resize: none;
}

input[type=button] {
    border-radius: 10%;
    width: 60px;
    background-color: white;
}

input[type=button]:hover {
    cursor: pointer; 
    background-color: #c9c9c7;
    transition: 0.4s ease;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

/* ID SELECTORS */

#header {
    display: flex;
    justify-content: flex-start;
    background-color: #c9e8e8;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    position: fixed;
    width: 96%;
    border-color: #154c79;
    border-style: solid;
    border-width: 3px;
    top: 0px;
    border-radius: 18px;
}

#car-photo:hover {
    width: 26%;
    height: 26%;
    transition: 0.4s ease;
}

#coding-photo:hover {
    width: 26%;
    height: 26%;
    transition: 0.4s ease;
}

#football-photo:hover {
    width: 26%;
    height: 26%;
    transition: 0.4s ease;
}

/* CLASS SELECTORS */ 

.container {
    padding: 25px;
    /* padding-bottom: 25px; */
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 3px;
    width: 96%;
    border-color: #154c79;
    border-style: solid;
    background-color: #EAF6F6;
}

.container:hover {
    animation: pulse2 4s infinite;
}

.social-icon {
    width: 6%;
    position: relative;
    top: 3px
}

.contact_page {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-left: 30%;
    padding-right: 30%;
}

.project {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-right: 5%;
}

.project-image {
    position: relative;
    right: 5%;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
    border-color: black;
    border-style: solid;
    border-radius: 18px;
    transition: 0.4s ease;
}

.project-image:hover {
    width: 32%;
    right: 6%;
    transition: 0.4s ease;
}

.hobby-photo {
    border-radius: 20%;
    width: 25%;
    height: 25%;
    opacity: 15%;
    transition: 0.4s ease;
}

.hobbies-photos {
    display: flex;
    justify-content: space-around; 
}

.profile_pic {
    border-radius: 100%;
    /* width: 100%;
    height: auto; */
}

.dropdown {
    position: relative;
    margin-left: 5px;
}

.drop-button {
    border-radius: 18px;
    background-color: #66BFBF;
    width: 120px;
    color: white;
    padding: 10px;
    margin-top: 30px;
    font-size: 14px;
    border: none;
}

.dropdown-content {
    border-radius: 18px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    border-radius: 18px;
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    transition: 0.4s ease;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .drop-button {
    background-color:  #66BFF0;
    transition: 0.4s ease;
}

@keyframes pulse2 {
    0% {
        background-color: #EAF6F6;
    }

    50% {
        background-color: #c9e8d0;
    }

    100% {
        background-color: #EAF6F6;
    }
}

@keyframes pulse1 {
    0% {
        opacity: 15%;
    }

    50% {
        opacity: 75%;
    }

    100% {
        opacity: 15%;
    }
}